/* mat-grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  
} */

/* .he {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
    justify-content: center;
} */