.class {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.breng {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.beha {
  display: flex;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.container {
  margin-left: 1rem;
}

/* h2 {
  margin-left: 1rem;
} */

.main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  background-color: bisque;
}

.main1 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

h2 {
  margin: 1rem;
}

.containerC {
  margin-left: auto;
  margin-right: auto;
}

.cust {
  width: 55%;
}