<div class="breng">
  <div class="class">
    <app-cart-buy class="rep" *ngFor="let menu of carts;" [getAllCart]="menu" (refetchall)="getCard_id($event)">
    </app-cart-buy>
  </div>

  <div class="container" *ngIf="cart_length > 0">
    <div class="beha">
      <div class="main">
        <h2> <b> {{ 'cartz.total' | translate  }} : Rp. {{total_price}}</b> </h2>
      </div>
      <div class="main1">
        <div>
          <button mat-raised-button color="accent" (click)="deleteAllCart()">{{ 'cartz.remove' | translate }}</button>
        </div>
        <div style="margin: 0 0 0 30px">
          <button mat-raised-button color="primary" (click)="buyCart()">{{ 'cartz.buynow' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containerC" *ngIf="cart_length == 0">
  <img class="cust" src="../../assets/img/empty-cart.png">
</div>
