<div class="login-wrapper">
    <mat-card class="box">
      <div class="custom">
        <div>
          <button mat-button color="warn" (click)="onBack()">
              <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
        <div>
          <button mat-button color="warn" (click)="onNoClick()">X</button>
        </div>
      </div><br>
      <mat-card-header>
        <mat-card-title> {{'reset.title' | translate }} </mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="signupForm">
        <mat-card-content>
  
          <mat-form-field class="example-full-width">
            <input matInput type="email" id="email" formControlName="email" placeholder="{{ 'reg.email' | translate }}">
            <mat-error *ngIf="this.signupForm.get('email')?.invalid"> {{ 'error' | translate }} </mat-error>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="signupForm.invalid" (click)="resetNow()" > {{'reset.submit' | translate}}
        </button>
  
      </form>
    </mat-card>
  </div>
  