    <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <h2 style="text-align: center;"> Add Stock </h2>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Name </mat-label>
        <input matInput type="text" id="name" formControlName="name" class="form-control">
        <mat-error *ngIf="this.signupForm.get('name')?.invalid"> This field is required ! </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Stock </mat-label>
        <input matInput type="number" id="stock" formControlName="stock" class="form-control">
        <mat-error *ngIf="this.signupForm.get('stock')?.invalid"> This field is required !</mat-error>
      </mat-form-field>

      <div mat-dialog-actions style="padding-left: 90%;">
        <button type="button" mat-raised-button color="warn" (click)="onNoClick()"> Cancel </button>
        <button type="submit" mat-raised-button color="accent" [disabled]="signupForm.invalid"> Submit </button>
      </div>

    </form>
