<div class="login-wrapper">
    <mat-card class="box">
      <div class="custom">
        <button mat-button color="warn" (click)="onNoClick()">X</button>
      </div>
      <mat-card-header>
        <mat-card-title> {{'reset.title' | translate }} </mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="signupForm">
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password"
              placeholder="{{ 'reg.pass' | translate }}">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.signupForm.get('password')?.invalid"> {{ 'pw' | translate }} </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput [type]="hidee ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword"
              placeholder="{{ 'reg.cpass' | translate }}">
            <button type="button" mat-icon-button matSuffix (click)="hidee = !hidee" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidee">
              <mat-icon>{{hidee ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="this.signupForm.get('confirmPassword')?.invalid"> {{ 'pw' | translate }} </mat-error>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="signupForm.invalid" (click)="resetNow()" > {{'reset.submit' | translate}}
        </button>
  
      </form>
    </mat-card>
  </div>
  