<div class="parent">
  <div class="gambar1">
    <img class="gambar" align="center" src="{{datas.imgUrl}}">
  </div>
  <div style="text-align: center;">
    <h2> {{datas.recipe_name}} </h2>
  </div>
  <div class="d-flex">
    <div style="padding-top: 10px; text-align: center;">
      <p>
        <span style="padding-left: 5px;"> <b>Rp. {{datas.special_offer_price}} || Stock : {{datas.available}} </b> </span> 
      </p>
    </div>
  </div>
</div><br>
<form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <h2 style="text-align: center;"> Buy now </h2>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Amount </mat-label>
      <input matInput type="number" id="amount" formControlName="amount" class="form-control">
      <mat-error *ngIf="this.signupForm.get('amount')?.invalid"> This field is required ! </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Note </mat-label>
      <input matInput type="text" id="note" formControlName="note" class="form-control">
      <mat-error *ngIf="this.signupForm.get('note')?.invalid"> This field is required !</mat-error>
    </mat-form-field>
  
    <div mat-dialog-actions style="float: right;">
      <button type="button" mat-raised-button color="warn" (click)="onNoClick()"> Cancel </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="signupForm.invalid"> Submit </button>
    </div>
  
  </form>