/* navbar */

header {
    overflow-x: hidden;
}

nav {
    text-align: center;
    width: 100%;
    font-family: arial;
} 

nav ul {
    background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
 }

nav ul li{
    float:left;
}

nav ul li:hover{
    background:#59D386 ;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}


/* footer */

footer ul {
    list-style: none;
}
    
footer li {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* ------------------------------- */

.container {
	width: 100%;
	overflow-x: hidden;
}

.table-data-diri {
    font-family: sans-serif;
    color: #4444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}

.table-data-diri tr th {
    background:#37988e;
    color: #fff;
    font-weight: normal;
}

.table-data-diri,
th,
td {
    padding: 8px 20px;
    text-align: center;
    color: black;
}

.table-data-diri tr:hover {
    background-color: #f2f5f5;
}

.table-data-diri tr:nth-child(even) {
    background-color: #f2f2f2;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    line-height: 40px;
    justify-content: space-between;
}

/* footer */
footer {
    background-color: #37988e;
    position: relative;
    padding-top: 1px;
}

footer ul {
    list-style: none;
}
    
footer li {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
}