<section class="mbr-section" id="top">
  <div class="pricing" id="pricing">
    <div class="container">
      <div class="pad">
        <!-- <mat-card style="background:none; visibility: none;"> </mat-card> -->
        <p class="mbr-title-font"> <span style="color: white;">UNIC</span> <br><br><br> <span style="color: red;"><b>RESTAURANT</b></span> </p><br>
        <p style="font-size: 20px; color:white" *ngIf="!token">Five star quality street restaurant</p>
        <p style="font-size: 20px; color:white" *ngIf="token">Welcome <span style="color: red;"><b>{{first_name}} {{last_name}}</b></span> </p>
      </div>
    </div>
  </div>
</section>

<h2 style="text-align: center; padding-top: 20px;"> <b> Special Offer </b> </h2>
<div class="parent">
  <div class="menu">
    <button mat-raised-button color="warn" type="button" class="prev" appPrev>prev</button>
    <app-menu-heightlight class="item" *ngFor="let menu of menus;" [recipe]="menu"></app-menu-heightlight>
    <button mat-raised-button color="warn" type="button" class="next" appNext>next</button>
  </div>
</div>

<h2 style="text-align: center; padding-top: 20px;"> <b> Menu Highlight </b> </h2>
<div class="parent">
  <div class="menu">
    <button mat-raised-button color="warn" type="button" class="prev" appPrev>prev</button>
    <app-special-offer class="item" *ngFor="let menue of menus1" [recipe]="menue"></app-special-offer>
    <button mat-raised-button color="warn" type="button" class="next" appNext>next</button>
  </div>
</div>