.cust {
  margin-right: auto;
  margin-left: auto;
} 

.mbr-section {
  overflow-x: hidden;
  overflow-y: hidden;
}

.style {
  color: red;
}

.pricing {
  padding-top: 100px; 
  /* padding-bottom: 200px; */
}

.head {
  font-size: 2rem;
}

.mbr-title-font {
  color: green;
  width: 500px;
  padding-top: 100px;
}

.mbr-section {
  background-image: url('../../../assets/img/bg1.jpg');
  background-position: center;
  background-size: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

.pad {
  margin: 0;
  padding: 0;
}

.mbr-title-font {
  text-align: left;
  font-size: 50px;
}

.btn {
  padding: center;
  margin: center;
  font-size: 14px;
  padding: 11px 28px;
  border-radius: 5px;
}

.pricing__title {
  font-size: 20px;
  margin: 0px 0px 10px;
  color: #29d9c2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pricing__price {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  display: inline-block;
  justify-content: center;
  padding: 5px 26px;
}

.pricing__currency {
  font-size: 15px;
  vertical-align: top;
  color: #735f5e;
  opacity: 0.8;
}

.pricing__period {
  font-size: 10px;
  color: #000;
  opacity: 0.5;
}

.pricing__feature-list {
  font-size: 0.95em;
  margin: 12px;
  /* padding: 0 0 2.5em; */
  text-align: justify;
  color: #666;
}

.pricing__item .btn {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
}

.pricing .container {
  max-width: 1000px;
}

.price {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price .header {
  background-color: #423a3a;
  color: white;
  font-size: 20px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: left;
  flex-direction: row-reverse;
}

li {
  flex-direction: row-reverse;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* ------------------------ */

app-special-offer {
  margin-right: auto;
  margin-left: auto;
}

app-menu-heightlight {
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------- */

.parent {
  overflow: hidden;
}

img {
  width: 70%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  /* border-radius: 50%; */
}

.anyar {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  /* margin: 2rem; */
  gap:2rem;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 70%;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
}

/* .item {
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid black;
  box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px dashed grey;
  margin: 1rem;
} */

.anyarchild {
  width: 25%;
  flex-wrap: nowrap;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px dashed grey;
}

.gambar {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}

.gambar1 {
  
  display: flex;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.atas {
  display: flex;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

}

.bawahchild {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.prev {
  position: absolute;
  z-index: 100;
  margin-top: 9%;
  left: 2px;
  padding: 1px;
}

.next {
  position: absolute;
  z-index: 100;
  margin-top: 9%;
  right: 2px;
}

/* --------------------- */

.wp {
  top: 0; margin:0; padding: 0;
}

.d-flex {
  /* justify-content: center; */
  display: flex; flex-wrap: wrap; width: 100%; margin-right: auto; margin-left: auto; height: 200px;
}

.bg {
  /* justify-content: center; */
  background-color: red; width: 50%; padding-top: 50px; 
}

.mr-right1 {
  margin-left: auto;
}

.text {
  color: white; padding-left: 5%; text-align: center;
}

.text1 {
  color: white; padding-left: 5%;
}

.bg1 {
  justify-content: center;
  background-color: white; width: 50%; padding-top: 50px;
}
/* 
.mr-left1 {
  margin-right: auto;
} */

.text3 {
  color: red; padding-left: 5px; 
}

.text4 {
  padding-left: 5px;
}

.images img {
  padding-left: 5%;
  width: 20px;
  height: 20px;
}

.images {
  padding-left: 12%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.child {
  width: 50%;
}

img.b {
  vertical-align: sub;
}