<div class="const">
  <div class="imgb">
    <img class="bg1" src="{{recipe.imgUrl}}" alt="images">
  </div>
  <div class="mainz">
    <p class="p"><b>{{recipe.recipe_name}} </b></p>
  </div>
  <div class="mainz">
    <p class="p"><b> Stock : {{recipe.available}} </b></p>
  </div>
  <div class="main">
    <div class="mainzz">
      <p class="pe">Price : {{recipe.special_offer_price}}</p>
    </div>
    <div class="bot" *ngIf="token">
      <div *ngIf="recipe.available > 0">
        <button (click)="openDialog(recipe)" mat-stroked-button color="primary">
          <mat-icon color="primary">add_shopping_cart</mat-icon> add to cart
        </button>
      </div>
      <div *ngIf="recipe.available == 0" class="cez">
        <button (click)="openDialog(recipe)" mat-stroked-button color="primary" disabled="true">
          <mat-icon color="primary">add_shopping_cart</mat-icon> add to cart
        </button>
      </div>
    </div>
  </div>
</div>