<div class="const">
  <div class="imgb">
    <img class="bg1" src="{{recipe.imgUrl}}" alt="images">
  </div>
  <div class="mainz">
    <p class="p"><b>{{recipe.recipe_name}} </b></p>
  </div>
  <div class="mainz">
    <p class="p"><b> {{ 'menus.stock' | translate }} : {{recipe.available}}</b>  </p>
  </div>
  <div class="main">
    <div class="mainzz">
      <p class="pe"> {{ 'menus.price' | translate }} : {{recipe.special_offer_price}}</p>
    </div>
    <div class="bot" *ngIf="token && user_type == 'user'">
      <div *ngIf="recipe.available > 0">
        <button (click)="openDialog(recipe)" mat-stroked-button color="primary">
          <mat-icon color="primary">add_shopping_cart</mat-icon> {{'menus.in' | translate }}
        </button>
      </div>
      <div *ngIf="recipe.available == 0" class="cez">
        <button (click)="openDialog(recipe)" mat-stroked-button color="primary" disabled="true">
          <mat-icon color="warn">add_shopping_cart</mat-icon> <span *ngIf="recipe.available == 0" style="color:red"> {{'menus.in' | translate}}</span> 
        </button>
      </div>
    </div>
  </div>
</div>