<div class="login-wrapper">
  <mat-card class="box">
    <div class="custom">
      <button mat-button color="warn" (click)="onNoClick()">X</button>
    </div>
    <mat-card-header>
      <mat-card-title> {{'register' | translate }} </mat-card-title>
    </mat-card-header>
    <form class="example-form" [formGroup]="signupForm">
      <mat-card-content>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput type="text" id="first_name" formControlName="first_name" placeholder="{{ 'reg.first_name' | translate }}">
            <mat-error *ngIf="this.signupForm.get('first_name')?.invalid"> {{ 'error' | translate }} </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput type="text" id="last_name" formControlName="last_name" placeholder="{{ 'reg.last_name' | translate }}">
            <mat-error *ngIf="this.signupForm.get('last_name')?.invalid"> {{ 'error' | translate }} </mat-error>
          </mat-form-field></td>
        </tr></table>

        <mat-form-field class="example-full-width">
          <input matInput type="email" id="email" formControlName="email" placeholder="{{ 'reg.email' | translate }}">
          <mat-error *ngIf="this.signupForm.get('email')?.invalid && this.signupForm.get('email')?.touched"> {{getErrorMessageEmail()}} </mat-error>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <input matInput type="text" id="friend_name" formControlName="friend_name" placeholder="{{ 'reset.friend_name' | translate }}">
            <mat-error *ngIf="this.signupForm.get('friend_name')?.invalid"> {{ 'error' | translate }} </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <input matInput type="text" id="pet_name" formControlName="pet_name" placeholder="{{ 'reset.pet_name' | translate }}">
            <mat-error *ngIf="this.signupForm.get('pet_name')?.invalid"> {{ 'error' | translate }} </mat-error>
        </mat-form-field></table>

        <mat-form-field class="example-full-width">
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password"
            placeholder="{{ 'reg.pass' | translate }}">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.signupForm.get('password')?.invalid"> {{ 'pw' | translate }} </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [type]="hidee ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword"
            placeholder="{{ 'reg.cpass' | translate }}">
          <button type="button" mat-icon-button matSuffix (click)="hidee = !hidee" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidee">
            <mat-icon>{{hidee ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="this.signupForm.get('confirmPassword')?.invalid"> {{ 'pw' | translate }} </mat-error>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="primary" class="btn-block" type="submit" (click)="register()"> {{'register' | translate}}
      </button>

      <p style="text-align: center; padding-top: 15px;">
        {{"loginText" | translate }} <a class="context-menu" (click)="openDialog()"> {{"loginText1" | translate }} </a>
      </p>

    </form>
  </mat-card>
</div>
