   <div class="container">
     <div class="row">
       <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

         <form class="hee" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

           <mat-form-field class="custom" appearance="fill">
             <mat-label> {{'menu-ma.images' | translate }} <label for="imgUrl"></label> </mat-label>
             <input matInput type="text" id="imgUrl" formControlName="imgUrl" class="form-control">
             <mat-error *ngIf="this.signupForm.get('imgUrl')?.invalid"> {{'images'|translate}} </mat-error>
           </mat-form-field><br>

           <mat-form-field class="custom" appearance="fill">
             <mat-label> {{'menu-ma.recipe_name' | translate }} <label for="recipeName"></label> </mat-label>
             <input matInput type="text" id="recipe_name" formControlName="recipe_name" class="form-control">
             <mat-error *ngIf="this.signupForm.get('recipeName')?.invalid"> {{'name'|translate}} </mat-error>
           </mat-form-field><br>

           <mat-form-field class="custom" appearance="fill">
             <mat-label> {{'menu-ma.price' | translate }} <label for="price"></label> </mat-label>
             <input matInput type="number" id="price" formControlName="price" class="form-control" min="0">
             <mat-error *ngIf="this.signupForm.get('price')?.invalid"> {{'price'|translate}} </mat-error>
           </mat-form-field><br>

           <mat-form-field class="custom" appearance="fill">
             <mat-label> {{'menu-ma.discount' | translate }} <label for="discount"></label> </mat-label>
             <input matInput type="number" id="discount" formControlName="discount" class="form-control">
             <mat-error *ngIf="this.signupForm.get('discount')?.invalid"> {{'discount'|translate}} </mat-error>
           </mat-form-field><br>

           <div formArrayName="ingredients">

             <div>
               <a (click)="addNewIngredients()">
                 <button type="button" mat-raised-button color="accent" style="width: 100%;">
                   {{'menu-ma.addingre' | translate }} </button>
               </a>
             </div><br>
             <hr><br>

             <form *ngFor="let creds of controls.controls; let i = index">

               <h2 style="text-align: center;"> {{'menu-ma.ingredients' | translate }} {{i+1}} </h2>

               <div class="example-container" [formGroupName]="i">

                 <mat-form-field appearance="fill">
                   <mat-label>{{'menu-ma.ingredients' | translate }}</mat-label>
                   <mat-select formControlName="ingredient_id">
                     <mat-option *ngFor="let menu of ingredient" [value]="menu.id" [disabled]="(ingredientDUP).includes(menu.id)">
                       {{menu.name}}
                     </mat-option>
                   </mat-select>
                 </mat-form-field>

                 <mat-form-field class="example-full-width" appearance="fill">
                   <mat-label> {{'menu-ma.stock_used' | translate }} <label for="stock_used"></label></mat-label>
                   <input matInput id="stock_used" type="number" formControlName="stock_used">
                 </mat-form-field>

               </div>
               <div>
                 <button mat-raised-button style="width: 100%; background-color: rgb(121, 182, 86); color: white" (click)="removeIngredients(i)"
                   *ngIf="controls.length > 1">
                   {{'remove' | translate }}
                 </button>
               </div><br>
             </form>
           </div>
           <div>
             <button type="button" mat-raised-button color="warn" (click)="onNoClick()" style="width: 100%;">
               {{'cancel' | translate }} </button><br>
             <button mat-raised-button color="primary" style="width: 100%;" type="submit"
               [disabled]="signupForm.invalid">{{'submit' | translate }}</button>
           </div>
         </form>
       </div>
     </div>
   </div>
