<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          
        <form class="hee" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  
          <mat-form-field class="custom" appearance="fill">
            <mat-label> Images <label for="imgUrl"></label> </mat-label>
            <input matInput type="text" id="imgUrl" formControlName="imgUrl" class="form-control">
          <mat-error *ngIf="this.signupForm.get('imgUrl')?.invalid"> only field images ! </mat-error>
          </mat-form-field><br>
  
          <mat-form-field class="custom" appearance="fill">
            <mat-label> Recipe Name <label for="recipe_name"></label> </mat-label>
            <input matInput type="text" id="recipe_name" formControlName="recipe_name" class="form-control">
          <mat-error *ngIf="this.signupForm.get('recipeName')?.invalid"> This name min 3 length ! </mat-error>
          </mat-form-field><br>
  
          <mat-form-field class="custom" appearance="fill">
            <mat-label> Price <label for="price"></label> </mat-label>
            <input matInput type="number" id="price" formControlName="price" class="form-control">
          <mat-error *ngIf="this.signupForm.get('price')?.invalid"> This price min 1 length ! </mat-error>
          </mat-form-field><br>
  
  
          <div formArrayName="ingredients">
  
            <div>
              <a (click)="addIngredient()">
                <button type="button" mat-raised-button color="accent" style="width: 100%;"> Add Ingredients </button>
              </a>
            </div><br><hr><br>
  
            <form *ngFor="let creds of controls.controls; let i = index" >
              
              <h2 style="text-align: center;"> Ingredients {{i+1}} </h2>
  
              <div class="example-container" [formGroupName]="i">
  
                  <mat-form-field appearance="fill">
                    <mat-label>Ingredient</mat-label>
                    <mat-select formControlName="ingredient_id" id="ingredient_id">
                      <mat-option *ngFor="let menu of ingredient" [value]="menu.id">
                        {{menu.name}}
                      </mat-option>
                    </mat-select>
                  <mat-error *ngIf="this.signupForm.get('ingredient_id')?.invalid"> This field is required ! </mat-error>
                  </mat-form-field>
  
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label> Stock Used <label for="stock_used"></label></mat-label>
                  <input matInput id="stock_used" type="number" formControlName="stock_used">
                <mat-error *ngIf="this.signupForm.get('stock_used')?.invalid"> This price min 1 length ! </mat-error>
                </mat-form-field>
  
              </div>
              <div>
                <button mat-raised-button color="warn" style="width: 100%;" (click)="removeIngredients(i)" *ngIf="controls.length > 1">
                  Remove
                </button>
              </div><br>
            </form>
          </div>
          <div>
            <button type="button" mat-raised-button color="warn" (click)="onNoClick()" style="width: 100%;"> Cancel </button><br>
            <button mat-raised-button color="primary" style="width: 100%;" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  