.container {
  padding: 20px;
}

.table-foods {
  font-family: sans-serif;
  color: #4444;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dfd3d3;
}

.table-foods tr th {
  background: #272a2b;
  color: #ffffff;
  font-weight: normal;
}

.table-foods,
th,
td {
  padding: 8px 20px;
  text-align: center;
  color: black;
}

.table-foods tr:hover {
  background-color: #ffffff;
}

.table-foods tr:nth-child(even) {
  background-color: #ffffff;
}

.table-foods tr:nth-child(odd) {
  background-color: #ffffff;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  line-height: 40px;
  justify-content: space-between;
}