<div style="padding-top: 90px; display: flex; justify-content: space-between;">
  <div style="padding-left: 3%;">
    <h2> History </h2>
  </div>
  <div style="text-align: right; padding-right: 4%;">
    <h2>Saldo : {{balancee | currency: "Rp "}} </h2>
  </div>
</div>

<div class="container">
  <div class="cons">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th class="pos" mat-header-cell *matHeaderCellDef> 
          <div><b> {{ 'historyz.name' | translate }} </b></div>
          <mat-form-field floatLabel="never">
            <mat-label> {{ 'menus.searchp' | translate }} </mat-label>
            <input matInput [formControl]="lastFilter" [(ngModel)]="valuee">
            <button *ngIf="valuee" matSuffix mat-icon-button aria-label="Clear" (click)="valuee=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element"> <b>{{element.user_id.last_name}} </b> </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th class="pos" mat-header-cell *matHeaderCellDef class="filter7"> <b>{{ 'historyz.detail' | translate }}</b> </th>
        <td mat-cell *matCellDef="let element" class="filter77">
          <button mat-stroked-button color="primary" (click)="openDialog(element)">{{ 'historyz.detail' | translate }}</button>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="order_date">
        <th mat-header-cell *matHeaderCellDef class="filter1"> 
          <div><b> {{ 'historyz.orderdate' | translate }} </b></div>
          <mat-form-field>
            <input matInput type="date" [formControl]="nameFilter">
          </mat-form-field>  
        </th>
        <td mat-cell *matCellDef="let element" class="filter11">{{element.order_date}} </td>
      </ng-container>

      <ng-container matColumnDef="total_price" >
        <th mat-header-cell *matHeaderCellDef class="filter2"> <b>{{ 'historyz.totalp' | translate }}</b> </th>
        <td mat-cell *matCellDef="let element" class="filter22">{{element.total_price | currency: "Rp "}} </td>
      </ng-container>

      <ng-container matColumnDef="order_status">
        <th mat-header-cell *matHeaderCellDef class="filter3"> 
          <div><b> {{ 'historyz.status' | translate }} </b></div>
          <mat-form-field>
            <mat-select [formControl]="statusFilter" [(ngModel)]="value">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        </th>
        <td mat-cell *matCellDef="let element" class="filter33"> 
            <mat-icon [ngStyle]="{color:'green'}" *ngIf="element.order_status === 'success'" matTooltip="Successful Transaction">check_circle</mat-icon> 
            <mat-icon [ngStyle]="{color:'red'}" *ngIf="element.order_status === 'failed'" matTooltip="Transaction Failed">highlight_off</mat-icon> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" style="text-align: center;">
          {{ 'menu-ma.mes' | translate }}
        </td>
      </tr>

    </table>
  </div>

  <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)" [pageSizeOptions]="[10]" showFirstLastButtons="true"></mat-paginator>

</div>
