.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 400px;
}

/* .container::-webkit-scrollbar { 
  display: none; 
} */

mat-form-field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.genders {
  margin-left: 80px;
}

.mat-raised-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hee {
  padding: 20px;
}
