<mat-toolbar color="primary">
  <a class="gap" routerLink="homepage">
    Homepage
  </a>
  <a class="gap" routerLink="menu">
    Menu
  </a>
  <a class="gap" routerLink="stock-management">
    Stock Management
  </a>
  <a class="filler" routerLink="about">
    About
  </a>
  <a class="gap">
    <button mat-button (click)="openDialog()">Login</button>
  </a>
  <a>
    <button mat-button *ngFor="let menu of menus" [routerLink]="[menu?.slug]">
      {{ menu?.name }}
    </button>
  </a>

  <!-- <div>
    <div *ngIf="">
      <a class="gap">
        <button mat-button (click)="openDialog()">Login</button>
      </a>
    </div>
    <div *ngIf="">
      <a class="gap">
        <button mat-button (click)="logOut()">Logout</button>
      </a>
    </div>
  </div> -->

</mat-toolbar>

<div class="cons">
  <router-outlet></router-outlet>
</div>
