<mat-toolbar>
  <button mat-button class="menu-button">
    <a routerLink='./home'>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
  </button>

  <button mat-button class="menu-button">
    <a routerLink='./user'>
      <mat-icon>person</mat-icon>
      <span>User</span>
    </a>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: 100%;">
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>