<mat-toolbar>
  <p class="name"><span style="color:white">Unic</span> <span style="color: red;">Foods</span></p>
  <div class="header">
    <button mat-button routerLink="homepage" style="color: white;" routerLinkActive="active">{{ "homepage" | translate }}</button>
    <button mat-button routerLink="menu" style="color: white;" routerLinkActive="active">{{ "menu" | translate }}</button>
    <button mat-button routerLink="stock-management" *ngIf="user_type=='admin'" style="color: white;" routerLinkActive="active">{{ "stock-management" | translate }}</button>
    <button mat-button routerLink="menu-management" *ngIf="user_type=='admin'" style="color: white;" routerLinkActive="active">{{ "menu-management" | translate }}</button>
    <button mat-button *ngIf="token" [matMenuTriggerFor]="menu" routerLinkActive="active" style="color: white;">{{ "cart" | translate }}</button>
    <mat-menu #menu="matMenu">
      <a routerLink="cart-management">
        <button mat-menu-item >{{ "cart" | translate }}</button>
      </a>
      <a routerLink="history">
        <button mat-menu-item routerLinkActive="active">{{ "history" | translate }}</button>
      </a>
    </mat-menu>
    <button mat-button routerLink="about" style="color: white;" routerLinkActive="active">{{ "about" | translate }}</button>
    <button mat-button *ngIf="!token" (click)="openDialog()" routerLinkActive="active" style="color: white;">{{ "login" | translate }}</button>
    <!-- <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="active"> {{first_name}} {{last_name}} <span *ngIf="user_type == 'admin'"> -- {{user_type}} </span> </button> -->
    <!-- <mat-menu #menu="matMenu" *ngIf="token"> -->
        <button *ngIf="token" mat-button (click)="logOut()" routerLinkActive="active" style="color: white;">{{ "logout" | translate }}</button>
    <!-- </mat-menu> -->
  </div>
</mat-toolbar>
    
<!-- 
  <a>
    <div class="hehe">
      <div class="language">
        <span *ngIf="selectedLang == 'en'"><img src="../../../assets/img/en.png" class="gambar"></span>
        <span *ngIf="selectedLang == 'fr'"><img src="../../../assets/img/fr.png" class="gambar"></span>
        <mat-form-field>
          <mat-select [(value)]="selectedLang" #lang (valueChange)="setLanguage(lang.value)">
            <mat-option value="en"><img src="../../../assets/img/en.png" class="gambar">English</mat-option>
            <mat-option value="fr"><img src="../../../assets/img/fr.png" class="gambar">France</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </a> -->

<div class="cons">
  <router-outlet></router-outlet>
</div>