.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 10px;
}

a:visited {
  color: white;
  font-style: normal;
}

a:hover {
  color: rgb(152, 135, 135);
}

mat-toolbar {
  position: absolute;
  background-color:transparent
}