<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Search User</mat-label>
    <input matInput [formControl]="searchName">
  </mat-form-field>
</form>
<!-- <mat-spinner mode="indeterminate" value="50"></mat-spinner> -->
<mat-card class="example-card" *ngFor="let data of dataUser">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{data.civility}}</mat-card-title>
    <mat-card-subtitle>{{data.first_name}} {{data.last_name}} </mat-card-subtitle>
  </mat-card-header>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4" style="text-align: center;">
      No Data to Show
    </td>
  </tr>
</mat-card>