<mat-card class="pe">
  <div class="p-grid">
    <div class="p-col-12 card-container">
      <div class="p-grid" *ngIf="selectedData">
        <div class="p-col-6">
          <span>Nama : {{selectedData.nama}} </span>
        </div>
        <div class="p-col-12">
          <span>Pengarang : {{selectedData.pengarang}} </span>
        </div>
        <div class="p-col-12 card-container">
          <div class="p-grid">
            <div class="p-col-12">
              <span>Penerbit : {{selectedData.penerbit}} </span>
            </div>
            <div class="p-col-12">
              <span>Tanggal : {{selectedData.tanggal}} </span>
            </div>
            <div class="p-col-12">
              <span>Tanggal Terbit : {{selectedData.terbit}} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
