<div class="container">
  <h2> {{ 'stock-management' | translate }} </h2>
  <button mat-raised-button color="warn" (click)="openDialog()">{{ 'add_data' | translate }} </button>
</div>

<div>  

  <div class="cons">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <div> <b>{{ 'stock.name' | translate }}</b> </div>
          <mat-form-field floatLabel="never" >
            <mat-label> {{ 'menus.search' | translate }} </mat-label>
            <input matInput [formControl]="nameFilter" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>  
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="noFilter1"> <b>{{ 'stock.stock' | translate }}</b> </th>
        <td mat-cell *matCellDef="let element" > {{element.stock}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action" >
        <th class="poss" mat-header-cell *matHeaderCellDef class="noFilter2"> <b>{{ 'stock.action' | translate }}</b> </th>
        <td mat-cell *matCellDef="let element" class="noFilter3">

          <a (click)="openUpdate(element)">
            <button mat-stroked-button color="primary">
              <mat-icon style="color: green;" matTooltip="edit">create</mat-icon>
            </button>
          </a>
          <a (click)="onDelete(element.id)" *ngIf="element.isUsed == false">
            <button mat-stroked-button color="primary">
              <mat-icon style="color: red;" matTooltip="delete">delete</mat-icon>
            </button>
          </a>
          <a *ngIf="element.isUsed == true" disabled="true">
            <button mat-stroked-button style="color: primary;" disabled="true">
              <mat-icon style="color: grey;" matTooltip="is used" disabled="true">delete</mat-icon>
            </button>
          </a>
        </td>
        
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" style="text-align: center;">
          No Data to Show
        </td>
      </tr>
  
    </table>
  </div>

  <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)" [pageSizeOptions]="[10]" showFirstLastButtons="true"></mat-paginator>

</div>
