<div class="container">
  <button mat-raised-button color="warn" (click)="openDialog()"> Add Data </button>
</div>
<div>  

  <div class="cons">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="padz">
          <div> <b>Name</b> </div>
          <mat-form-field floatLabel="never" >
            <mat-label> Search </mat-label>
            <input matInput [formControl]="nameFilter" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>  
        </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="stock">
        <th class="pos" mat-header-cell *matHeaderCellDef class="noFilter1"> <b>Stock</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th class="pos ez" mat-header-cell *matHeaderCellDef> 
          <div><b>Status</b></div>
          <mat-form-field floatLabel="never">
            <mat-label>Status</mat-label>
            <mat-select [formControl]="statusFilter" [(ngModel)]="valuee">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        </th>
        <td mat-cell *matCellDef="let element" class="ez"> 
          <mat-icon [ngStyle]="{color:'green'}" *ngIf="element.status === 'active'" matTooltip="active">check_circle</mat-icon> 
          <mat-icon [ngStyle]="{color:'red'}" *ngIf="element.status === 'deleted'" matTooltip="deleted">highlight_off</mat-icon> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action" >
        <th class="poss" mat-header-cell *matHeaderCellDef matTooltip="Action" class="noFilter2"> <b>Action</b> </th>
        <td mat-cell *matCellDef="let element">
          <a (click)="openUpdate(element)">
            <button mat-stroked-button color="primary">
              <mat-icon style="color: green;" matTooltip="edit">create</mat-icon>
            </button>
          </a>
          <a (click)="onDelete(element.id)" *ngIf="element.status == 'active'">
            <button mat-stroked-button color="primary">
              <mat-icon style="color: red;" matTooltip="delete">delete</mat-icon>
            </button>
          </a>
          <a *ngIf="element.status == 'deleted'" disabled="true">
            <button mat-stroked-button style="color: primary;" disabled="true">
              <mat-icon style="color: black;" matTooltip="delete" disabled="true">delete</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" style="text-align: center;">
          No Data to Show
        </td>
      </tr>
  
    </table>
  </div>

  <mat-paginator #paginator class="promo-paginator" (page)="onPaginatorChange($event)" [pageSizeOptions]="[10]" showFirstLastButtons="true"></mat-paginator>

</div>
