.be {
    color: white;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color:#343957;
    width: 100%;
    z-index: 9;
}
    
.font {
    font-size: x-large;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding-left: 40px;
}
    
.nav-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 10;
    list-style: none;
    flex-wrap: wrap;
    transition: ease;
    color: white;
}
    
.nav-item {
    box-sizing: border-box;
    line-height: 24px;
    padding: 2rem;
}
    
.nav-item a {
    padding: 0.7rem;
    display: inline-block;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}
    
.nav-item a:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

/* ------------------------------ */
body {
	font-family: Calibri, Myriad;
    background-image: url('../images/bg.jpg');
    margin: 0;
}

#main {
	width: 100%px;
	margin:auto;
	border-spacing: 10px;
    border-collapse: separate; 
}


/* footer */

footer {
    background-color:#343957;
    position: relative;
    height: 40px;
    width: 100%;
    bottom: 0%;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content : center;
}

footer ul {
    list-style: none;
}
    
footer li {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* ------- */
main {
    padding-top: 70px;
}

/* ---------------- */
.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}
.border-0 {
    border: 0!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    justify-content: center;
}

.row > .pop {
    background-color: #f1f1f1;
    width: 25%;
    margin: 1rem;
    text-align: center;
    border: 1px solid black;
    line-height: 16px;
}

h1 {
    text-align: center;
}

.bg img {
    width: 95%;
    height: 200px;
    box-sizing:border-box;
    margin: 10px;
    padding: 5px;
}

section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.text-primary {
    color: #ceaa4d !important;
}
.text-secondary {
    color: #15395A !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.3rem;
}

/* ------------------------------------------------ */
.bg-secondary {
    background: #172f47 !important;
    width: 100%;
}

@media screen and (min-width: 576px){
    .px-sm-6 {
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
}

@media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

.px-1-9 {
    padding: 1rem;
}

.rounded {
    border-radius: 0.25rem !important;
}

.mb-1-9 {
    margin-bottom: 1.9rem;
}
/* ------------------------------------------------ */

.show {
    text-align: center;
    color: green;
}

a:link {
    color: #ffffff;
}

a:hover {
    color: rgb(194, 163, 163);
}

a:active {
    color: rgb(182, 134, 134);
}


/* ------------------------------------------------ */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
}
  
.btn {
    border: 1px solid gray;
    color: white;
    background-color: rgb(36, 100, 46);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transform: translate(+35%);
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* ------------------------------------------------ */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #e62828;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(0, 0, 0)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* --------------------------------------------------- */

.induk {
    width: 90%; 
    height: 90%; 
    padding: 10px;
    margin: 10px;
    display: table;
    border-spacing: 10px;
    border-collapse: separate; 
    margin-left:auto;
    margin-right:auto;
}

/* contact us */

.sub4 {
    width: 40%; 
    display: table-cell;
    border: 1px solid black;
}

.sub5 {
    width: 60%; 
    display: table-cell;
    border: 1px solid black;
}

.center {
    padding-left: 10px;
    padding-bottom: 5px;
}

#table-contact {
    padding-top: 10px;
}
    
#table-contact {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    margin: auto;
}

/* .center {
    margin-left: 5px;
} */

.btn-primary {
    background-color: #343957;
    color: white;
    border: 1px solid black;
    font-size: 12px;
    width: 130px;
    height: 30px;
    margin-left: 0px;
}
    
th, td {
    text-align: left;
}
    
main {
    border: 1px solid black;
    padding: 10px;
    width: 87%;
    margin: auto;
}