/* descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~) */

* {
    font-family: Monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 50px;
}

nav {
    position: fixed;
    height: 70px;
    background-color: rgb(136, 188, 188);
    width: 100%;
    z-index: 1;
    margin: 0%;
}

footer {
    position: sticky;
    height: 50px;
    width: 100%;
    bottom: 0%;
    margin: 0px;
    padding: 15px;
    display: flex;
    justify-content : center;
    background-color: rgb(136, 188, 188);
}

section
{
    padding: 80px 20px 0px 20px;
}
 

nav h1 {
    margin-top: 20px;
}

body {
    background-image: url('../img/bg.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;  
}

/* display out card row 1, 2 and 3 */

.ds-f {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.w-1 {
    width: 100%;
}

.m-0 {
    margin: 0%;
}

/* display in card 1, 2 and 3 */

.bg-rgb {
    background-color: rgb(212, 240, 240);
}

.w-33 {
    width: 33%;
}

.m-1 {
    margin: 1rem 1rem;
}

.b-1 {
    border: 1px solid black;
}

.bg img {
    width: 95%;
    height: 200px;
    margin: 10px;
    padding: 5px;
}

p {
    text-align: center;
}

/* footer */

.bot {
    background-color: green;
    color: white;
    border-color: white;
    height: 30px;
}

/* grouping */
.bot:hover,
.bot:active {
    background-color: rgb(13, 152, 13);
    color: rgb(236, 204, 204);
}

/* pesudo elemet */

.peseudo::first-letter{
    color: red;
}

.peseudo1::first-line{
    color: rgb(169, 66, 57);
}

/* hover */

.bot1 {
    background-color: green;
    color: white;
    border-color: white;
    height: 30px;
}

.bot1:hover {
    background-color: rgb(13, 152, 13);
}

/* active */

.bot2 {
    background-color: rgb(54, 38, 5);
    color: white;
    border-color: white;
    height: 30px;
}

.bot2:active {
    background-color: rgb(3, 82, 3);
}

/* text decoration */

h1 {
    text-align: center;
    margin: 0%;
    text-decoration: underline;
}

/* vertical align */

.test {
    vertical-align: super;
}

.test1 {
    vertical-align: sub;
}

.about {
    margin-right: 5px;
}

.contact {
    margin-left: 5px;
}

/* style anchor */

a:visited {
    color: rgb(49, 43, 46);
}  

a:hover {
    color: aliceblue;
}

a:active {
    color:antiquewhite
}

#one.two {
    color: green
}

#coba .nyoba {
    color: blue
}