mat-card {
  width: 250px;
  /* height: 450px; */
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(120, 149, 178, 0.2),
    2px 2px 6px 0 rgba(232, 223, 202, 0.3);
  margin: 0 0.2rem;
}

mat-card:hover {
  transform: scale(1.045);
}

.label {
  display: flex;
  margin-right: auto;
}

.label-tag{
  padding: 0rem 1rem;
  position: absolute;
  background-color: red;
  color: white;
  z-index: 1;
  border-radius: 5px;
}

.label-tag p{
  font-weight: 500;
  padding-top: 0.5rem;
}

/* ------------------------ */

.menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
}

app-special-offer {
  margin-right: auto;
  margin-left: auto;
}

app-menu-heightlight {
  margin-left: auto;
  margin-right: auto;
}

/* ---------------------------- */

.parent {
  overflow: hidden;
}

/* .prev {
  position: absolute;
  left: 50px;
  z-index: 100;
  margin-top: 70px;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  margin-top: 42px;
  right: 50px;
  z-index: 100;
  transform: translate(50%, 50%);
} */

img {
  width: 100%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  /* border-radius: 50%; */
}

.anyar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem;
  gap:2rem;
  overflow: hidden;
}

.anyarchild {
  width: 25%;
  flex-wrap: nowrap;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px dashed grey;
}

.gambar {
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}

.gambar1 {
  width: 100%;
  display: flex;
}

.greyout img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}


.d-flex {
  display: flex;
  justify-content: space-between;
}

.atas {
  display: flex;
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;

}

.bawahchild {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.prev {
  position: absolute;
  z-index: 100;
  right: 100px;
}

.next {
  position: absolute;
  z-index: 100;
  right: 20px;
}