<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="top-nav" style="background-color: #008d4c;">Penilaian Dosen</mat-toolbar>
    <mat-nav-list>
      <div>
        <span> &nbsp;&nbsp;&nbsp;&nbsp; <b>NAVIGASI UTAMA</b> </span>
        <hr>
        <a mat-list-item routerLink='./homepage' routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="home"></mat-icon> &nbsp;&nbsp; <span> Homepage </span> 
        </a>
        <a mat-list-item routerLink='./profile' routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="person"></mat-icon> &nbsp;&nbsp; <span> Profile </span> 
        </a>
        <a mat-list-item routerLink='./list-dosen' routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="people_outline"></mat-icon> &nbsp;&nbsp; <span> Dosen </span> 
        </a>
        <a mat-list-item routerLink='./list-mahasiswa' routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="people_outline"></mat-icon> &nbsp;&nbsp; <span> Mahasiswa </span> 
        </a>
        <a mat-list-item routerLink='./form-builder' routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="domain"></mat-icon> &nbsp;&nbsp; <span> Form Builder </span> 
        </a>
      </div>
      <div class="keluar_end">
        <a mat-list-item routerLinkActive="active">
          <mat-icon class="warna" aria-hidden="false" fontIcon="logout"></mat-icon> &nbsp;&nbsp; <span> Keluar </span> 
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Dashboard</span> -->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
