<table class="table-foods" style="float: right; background-color: white;">
  <thead>
    <tr>
      <th style="text-align:left">
        {{ 'b.recipe_name' | translate }}

      </th>
      <th>
        {{ 'b.amount' | translate }}
      </th>
      <th>
        {{ 'b.note' | translate }}
      </th>
      <th>
        {{ 'b.total' | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas.menu">
      <td style="text-align:left">
        <p>{{item.recipe_id.recipe_name}}</p>
      </td>
      <td>{{item.amount}}</td>
      <td>{{item.note}}</td>
      <td> {{item.total_price | currency: "Rp "}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> 
        <button mat-stroked-button color="warn" (click)="onClose()">Close</button>
      </td>
    </tr>
  </tfoot>

  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td> {{ 'b.totalp' | translate }} </td>
      <td> {{dataz | currency: "Rp "}}</td>
    </tr>
  </tfoot>
  

  <!-- <div style="margin-left: 100%;">
      <button type="button" mat-raised-button color="warn" (click)="onNoClick()"> close </button>
  </div> -->

</table>
