<div>

  <div class="cons">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

      <ng-container matColumnDef="recipe_name">
        <th class="pos" mat-header-cell *matHeaderCellDef class="noFilter1"> <b>Price</b> </th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngFor="let item of element.menu">
            {{item.recipe_id.recipe_name}} 
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th class="pos" mat-header-cell *matHeaderCellDef class="noFilter1"> <b>Note</b> </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let item of element.menu">
            {{item.note}} 
          </div>  
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="pos" mat-header-cell *matHeaderCellDef class="noFilter1"> <b>Price</b> </th>
        <td mat-cell *matCellDef="let element"> 
          <div *ngFor="let item of element.menu">
            {{item.price}} 
          </div>  
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="available">
        <th class="pos" mat-header-cell *matHeaderCellDef class="noFilter1"> <b>Available</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.available}} </td>
      </ng-container> -->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  
</div>