<body>
  <div class="container">
    <div class="card">
      <form class="haa">
        <label>Nama Lengkap</label><br><br>
        <input type="text" class="form" placeholder="Masukkan nama anda"
          #nama><br><br>

        <label>Alamat</label><br><br>
        <input type="text" class="form" placeholder="Masukkan alamat anda"
          #alamatt><br><br>

        <button type="submit" (click)="addName(nama, alamatt)">Tambah User</button>
      </form>
    </div>
    <table class="table-foods">
      <caption style="text-align: left;">{{title}}</caption>
      <thead>
        <tr>
          <th *ngFor="let col of dataa">
            {{col}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of namePerson">
          <td>{{data.name}}</td>
          <td>{{data.alamat}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div>
    <button (click)="nama">testing</button>
  </div> -->
</body>
