.container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: block;
  width: 50%;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 50px;
}

.be {
  margin-left: 25%;
  padding-top: 10px;
}

.gen {
  margin-left: 40%;
}

mat-form-field {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .genders {
    margin-left: 80px;
  } */

.mat-raised-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.customm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

form {
    padding-bottom: 20px;
}
