/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: url('https://img.freepik.com/free-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=2000');
}

.html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Monospace, "Helvetica Neue", sans-serif;
}

.bg-color .mat-dialog-container {
  background-color: transparent !important;
  padding: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
