<div style="margin-right: auto; margin-left: auto">
  <div class="const">
    <div class="imgb">
      <img class="bg1" src="{{datas.imgUrl}}" alt="images">
    </div>
    <div class="mainz">
      <p class="p"><b>{{datas.recipe_name}} </b></p>
    </div>
    <div class="mainz">
      <p class="p"><b> {{'iMenu.stock' | translate }} : {{datas.available}} || {{'iMenu.price' | translate }} : {{datas.special_offer_price}} </b></p>
    </div>
  </div>
</div>

<form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

  <h2 style="text-align: center;"> {{ 'buy_now' | translate }} </h2>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> {{'iMenu.amount' | translate }} </mat-label>
    <input matInput type="number" id="amount" formControlName="amount" class="form-control">
    <mat-error *ngIf="this.signupForm.get('amount')?.invalid"> {{ 'error' | translate }} </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> {{ 'iMenu.note' | translate }} </mat-label>
    <input matInput type="text" id="note" formControlName="note" class="form-control">
    <mat-error *ngIf="this.signupForm.get('note')?.invalid"> {{ 'error' | translate }} </mat-error>
  </mat-form-field>

  <div mat-dialog-actions style="float: right;">
    <button type="button" mat-raised-button color="warn" (click)="onNoClick()"> {{'cancel' | translate }} </button>
    <button type="submit" mat-raised-button color="accent" [disabled]="signupForm.invalid"> {{ 'submit' | translate}} </button>
  </div>

</form>
