@import url('https://www.w3schools.com/w3css/4/w3.css');

.w3-container {
  padding-top: 50px;
}

.w3-content {
  max-width:700px
}

img {
  padding-bottom: 50px;
}

.w3-margin-top {
  width:100%;
  max-width:1000px
}