<div class="w3-container" id="about">
  <div class="w3-content">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE WARTEG MADANGSLURRR</span></h5>
    <p>The WARTEG was founded in blabla by Mr. P in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>In addition to our full nasi goreng and mineral water menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i></p>
      <p>Chef, Coffeeist and Owner: Mr. P</p>
    </div>
    <img src="../../assets/img/content.jpg" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 9am to 9pm.</p>
    <p><strong>Address:</strong> Mayjend Sutoyo street, 54, Yogyakarta</p>
  </div>
</div>