.parents-img {
  display: flex;
  flex-wrap: wrap;
}

.tit {
  color: red;
}

.garis {
  width: 600px;
  border: 1px solid black;
  box-shadow: teal;
}

.page {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 50vh;
  height: 30vw;
  box-shadow: 5px 10px #888888;
}

p {
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.container {
  padding-top: 100px;
}

.text {
  margin-left: auto;
  margin-right: auto;
}