<div>
    <section class="mbr-section">
        <div class="pricing" id="pricing" style="padding-top: 100px; padding-bottom: 200px;">
          <div class="container">
            <div class="section-head-lite text-center col-md-4 col-md-offset-2 space80">
              <h1 class="mbr-title-font">DISCOVER THE TASTE REAL OF FOODS WITH MADANGSLURR </h1>
              <!-- <p>Berlangganan Membership ditoko kami dan dapatkan hadiah menarik setiap bulannya.</p> -->
            </div>
          </div>
        </div>
      </section>
      <div class="foods">
        <div>
          <img src="../../../assets/img/content.jpg">
        </div>
        <div class="m-10">
          <p class="head"> ABOUT <br><br> MADANGSLURR </p>
          <p class="content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consectetur repudiandae quas,
            quasi excepturi dolorem autem sequi impedit enim laborum cupiditate nesciunt aliquam esse, expedita dolore at.
            Aliquid, nisi eos! </p>
          <a href="#">
            <button mat-raised-button color="accent">Accent</button>
          </a>
        </div>
      </div>
      <section class="mbr-section">
        <div class="pricing" id="pricing" style="padding-top: 100px; padding-bottom: 200px;">
          <div class="container">
            <div class="section-head-lite text-center col-md-4 col-md-offset-2 space80">
              <h1 class="mbr-title-font">DISCOVER THE TASTE REAL OF FOODS WITH MADANGSLURR </h1>
              <!-- <p>Berlangganan Membership ditoko kami dan dapatkan hadiah menarik setiap bulannya.</p> -->
            </div>
          </div>
        </div>
      </section>
      <div class="foods">
        <div>
          <img src="../../../assets/img/content.jpg">
        </div>
        <div class="m-10">
          <p class="head"> ABOUT <br><br> MADANGSLURR </p>
          <p class="content"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consectetur repudiandae quas,
            quasi excepturi dolorem autem sequi impedit enim laborum cupiditate nesciunt aliquam esse, expedita dolore at.
            Aliquid, nisi eos! </p>
          <a href="#">
            <button mat-raised-button color="accent">Accent</button>
          </a>
        </div>
      </div>
</div>

