img {
    width: 50%;
    height: 700px;
    margin: 5rem;
  }
  
  .m-10 {
    margin: 5rem;
    margin-left: 0;
    padding-top: 150px;
  }
  
  .head {
    font-size: 2rem;
  }
  
  .content {
    width: 600px;
    text-align: justify;
  }
  
  .foods {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  
  .mbr-title-font {
    color: green;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  
  .col-sm-4:after {
    -webkit-transform: rotate(6deg) translate3d(15px, 0, 0);
    transform: rotate(6deg) translate3d(15px, 0, 0);
  }
  
  .col-sm-4:before {
    -webkit-transform: rotate(-6deg) translate3d(-15px, 0, 0);
    transform: rotate(-6deg) translate3d(-15px, 0, 0);
  }
  
  .space80 {
    margin-bottom: 20px;
  }

  .mbr-button {
    background-color: #e8edea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .section-head-lite h1 {
    font-size: 25px;
    letter-spacing: 3px;
    color: #fff
  }
  
  .section-head-lite p {
    color: #fff;
    opacity: 0.7
  }
  
  .btn {
    padding: center;
    margin: center;
    font-size: 14px;
    padding: 11px 28px;
    border-radius: 5px;
  }
  
  .btn-primary {
    background: #3185eb;
    border: 1px solid #29d9c2;
    color: #fff;
    padding: center;
    margin: center;
  }
  
  .pricing__item {
    margin: 0;
    padding: 40px 40px 40px;
    text-align: left;
    color: #000;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 3px
  }
  
  .pricing__title {
    font-size: 20px;
    margin: 0px 0px 10px;
    color: #29d9c2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .pricing__price {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    display: inline-block;
    justify-content: center;
    padding: 5px 26px;
  }
  
  .pricing__currency {
    font-size: 15px;
    vertical-align: top;
    color: #735f5e;
    opacity: 0.8;
  }
  
  .pricing__period {
    font-size: 10px;
    color: #000;
    opacity: 0.5;
  }
  
  .pricing__feature-list {
    font-size: 0.95em;
    margin: 12px;
    padding: 0 0 2.5em;
    text-align: justify;
    color: #666;
  }
  
  .pricing__item .btn {
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
  }
  
  .pricing .container {
    max-width: 1000px;
  }
  
  .price {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .price .header {
    background-color: #423a3a;
    color: white;
    font-size: 20px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: left;
    flex-direction: row-reverse;
  }
  
  li {
    flex-direction: row-reverse;
  }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  

  