.example-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.bg1 {
  width: 200px;
  height: 200px;
  margin-left: 10px;
}

.cards {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.custom1 {
  color: darkgoldenrod;
}

.pad {
  padding-top: 10px;
}

mat-card-header {
  padding-left: 20px;
  padding-top: 40px;
}

mat-card-title {
  width: 300px;
}

mat-card-content {
  padding-top: 50px;
  width: 200px;
}

mat-card-actions {
  padding-top: 50px;
}

.cartperice {
  color: darkgray;
}

.p {
  padding-left: 2%;
  font-size: 24px;
}

p {
  padding-left: 2%;
}

.mat-card-actions {
  padding-left: 2%;
}

.drop {
  position: absolute;
  top: 10px;
}

.grayout {
  padding-top: 200px;
  width: 100%;
  height: 200px;
}
