/* .qty{
  margin-right: 20px;
  width: 80px;
}
.flex {
  display: flex;
}
.flex>img{
  margin-right: 30px;
}

img {
  width: 250px;
  height: 200px;
}

.card{
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}

.input{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 100px;
  width: 100%;
}

.btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 10px;
}

mat-card-subtitle {
  padding-top: 20px;
} */

.container {
  display: flex;
  width: 100%;
  margin: 1rem;
  background-color: rgb(188, 156, 169);
}

.beha {
  display: flex;
  width: 100%;
  margin: 1rem;
}

img {
  margin-right: 1rem;
  width: 30%;
  height: 180px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.buttomcss {
  margin-left: auto;
  display: flex;
}

.head {
  display: flex;
  border: 1px solid;
}

.body {
  display: flex;
  border: 1px solid;
}

.footer {
  display: flex;
  border: 1px solid;
}