.container {
  display: flex;
  width: 100%;
  margin: 1rem;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid black;
  box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
  padding: 10px;
  border: 1px dashed grey;
}

.no-drop { cursor: no-drop; }

.beha {
  display: flex;
  width: 100%;
  margin: 1rem;
}

img {
  margin-right: 3rem;
  width: 400px;
  height: 180px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.buttomcss {
  margin-left: auto;
  display: flex;
}

.head {
  display: flex;
  /* border: 1px solid; */
}

.body {
  display: flex;
  /* border: 1px solid; */
}

.footer {
  display: flex;
  /* border: 1px solid; */
}

/* .buttomcss {
  margin-left: 100px;
} */